    <!--авторизация для добавления коментария-->
<div class="container coment-proposition" ng-if="!auth">
    <h5>Пройдите пожалуйста авторизацию для добавления отзыва по товару</h5>
    <form role="form" class="form" >
        <input type="text" class="form-control marg col-md-3" placeholder="Введите ваш логин" ng-model="login"><br>
        <input type="password" class="form-control marg col-md-3"placeholder="Введите Ваш пароль" ng-model="password"><br>
        <input type="reset"  class="btn btn-danger marg" value="Сбросить">
        <input type="button"  class="btn btn-success marg" value="Отправить" ng-click="tryAuth(login, password); reset(this)">
    </form>
</div>

    <!--ввод своего отзыва по товару-->
<div class = "container response-item">
    <div ng-if="auth">
        <h3>Оставьте свой коментарий о товаре</h3>
        <form action="" class="form" >
            <input type="text" class="form-control marg col-md-6" placeholder="Введите Ваше имя" ng-model="name"> <br>
            <textarea name="" class="form-control marg col-md-8" cols="30" rows="10" placeholder="Введите Ваш коментарий" ng-model="coment"></textarea> <br>
            <input type="reset"  class="btn btn-danger marg" value="Сбросить">
            <input type="button"  class="btn btn-success marg" value="Сохранить коментарий" ng-click="addComents(name, coment); reset(this)">
        </form>
    </div>

    <ul>
        <li class="phone-thumbs response" ng-repeat="coment in coments | orderBy: date">
            <p>{{coment.name}}</p>
            <hr></hr>
            <p>{{coment.coment}}</p>
            <hr></hr>
            <p>{{coment.date | date: "yyyy-MM-dd HH:mm:ss"}}</p>
            <hr></hr>
        </li>
    </ul>
</div>